@import url("./header.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./contact.css");
@import url("./footer.css");
@import url("./topics.css");

:root {
    --cor-de-fundo: #EBECEE;
    --white-color: #FFFFFF;
    --orange-color: #EB9B00;
    --blue-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}