.tópicos {
  background: var( --blue-degrade);
  text-align: center;
  padding: 1em 0;
}

.tópicos__titulo {
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 1em;
}

.tópicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tópicos__item {
  margin: 2em 0.5em;
}

.tópicos__link {
  color: var(--white-color);
  padding: 1em;
  background-color: var(  --orange-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}